@charset "utf-8";
//Base
html {font-size: 62.5%;}

body{
  
}


@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

//colors
$base : #f9f8f6;
$brown : #887f69;
$bage : #e2ddd4;
$gray : #b0b0b0;
$red : #9d1a2d;



//TOPページ
body{
background-color: #f9f8f6;  
}

#logo{
  margin-top: 20px;
}
#sp_header{
  text-align: center;
  margin-top: 29px;
    
  #sp_header_li{
    
      li{
        display: inline-block;
        list-style: none;
        padding: 3px;
      }
    }
  }

.sp_menu_toggle{
  width: 180px;
  position: absolute;
  z-index: 100;
  list-style-position: inside;
  li{
    background-color:#ffffff;
    top: 50px;
    right: 2%;
    margin: 0;
    padding: 0;
    a{
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      text-decoration: none;
    }
  }
} 
  
#menu{
  cursor: pointer;
}
.sp_menu_toggle{
  display: none;
  left: 18%;
  top: 60%;
  li{
    width: 100%;
  }
}
  
#pc_header_li{
  margin-top: 30px;
    li{
        display: inline-block;
        list-style: none;
        margin: 3px;
    }
  }


@media(min-width:550px){
  header{
    #sp_header{
      display: none;
    }
  }
}     
    
@media(max-width:550px){
  header{
    #pc_header{
      display: none;
    }
  } 
}

//header

#eyecatch{
  margin: 40px auto;
}

#newitems{
  .newitems-box{
    margin: 31px auto;
    flex-wrap: wrap;
    display: flex;
    font-size: 12px;
    
    .flex-container{
    background-color: #ffffff;
    margin: auto;
    width: 47%;
      @media(min-width: 550px){
      width: 30%;  
      }
    }
  }
}

@media(max-width: 549px){
  #pc_newitem{
    display: none;
  }
  #sp_newitem{
    text-align: center;
    margin-top: 30px;
  }
}
@media(min-width: 550px){
  #sp_newitem{
    display: none;
  }
  #pc_newitem{
    margin-top: 30px;
  }
}

#popularitems{
  .popularitems-box{
    margin: 31px auto;
    flex-wrap: wrap;
    display: flex;
    font-size: 12px;
    
    .flex-container{
    background-color: #ffffff;
    width: 47%;
    margin: auto;
    @media(min-width: 550px){
      width: 30%;  
      }
    }
  }
}

@media(max-width: 549px){
  #pc_popularitems{
    display: none;
  }
  #sp_popularitems{
    text-align: center;
  }
}
@media(min-width: 550px){
  #sp_popularitems{
    display: none;
  }
}
#shopping-guide{
  margin: 36px auto;
  background-color: $base;
  
  .guide-box{
    display: flex;
    display: -webkit-flex;
    box-sizing: border-box;
    margin-top: 36px;
    }
  }

.guide-box{
  .container{
      background-color: #ffffff;
      @media(min-width: 551px){
      width: 48%;
    }
  }
}  
  


#shopping-guide{
  h5{
    color: $brown;
    font-weight: bold;
    margin-top: 10px;
  }
  h6{
    color: $brown;
  }
}
#pc_guide{
  img{
  margin-top: 10px;
  }
}
#sp_guide{
  img{
  margin-top: 30px;
  }
}
@media(max-width: 550px){
  .guide-box{
    flex-direction: column;
    width: 100%;
    .container{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

@media(max-width: 549px){
  #pc_guide{
    display: none;
  }
  #sp_guide{
    text-align: center;
  }
}
@media(min-width: 550px){
  #sp_guide{
    display: none;
  }
}
//side

#search{
  background-color: #ffffff;
  padding: 10px;
  #search-box{
    border: $bage;
    background-image: url(../images/top/search_icon.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
    color: $brown;
    background-color: $bage;
    margin: 12px 12px;
    padding: 5px 10px;
    font-style: oblique;
  }
}
.pagelink{
  margin:20px 0;
}

.sidebar{
  background-color: $brown;
  padding: 10px 15px;
  margin-bottom: 5px;
}

#navigation{
  .pagelink{
   .sidebar{
    background-image: url("../images/top/next_icon.png");
    background-size: 10px 10px;
  
    @media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dpx){
      background-image: url("../images/top/next_icon.png");
    }
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
    } 
  }
}

.category{
  .sidebar{
    background-image: url("../images/top/down_icon.png");
    background-size: 10px 10px;
    
    @media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dpx){
      background-image: url("../images/top/down_icon.png");
      }
    background-repeat: no-repeat;
    background-position: right 10px top 10px;  
  }
}

.categories{
  background-color: #ffffff;
  padding: 10px 15px;
  li{
    list-style: none;
    font-size: 12px;
    a{
     text-decoration: none; 
     color: black;
    }
  }
}
.categories{
  li{
    height: 38px;
    background-image: url("../images/top/next_icon_gray.png");
    background-size: 10px 10px;
    border-bottom: 1px solid #f0f8f6;
    width: 100%;
  
    @media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dpx){
    background-image: url("../images/top/next_icon_gray.png" );
    align-items: center;
    }
  background-repeat: no-repeat;
  background-position: right center;
  }
}

#about{
  .container{
  background-color: #ffffff;
  padding: 10px;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  }
}
#shopinfo{
  .container{
  background-color: #ffffff;
  padding: 10px;
  width: fit-content;
  text-align: center;
  margin-bottom: 30px;
  }
}

@media(max-width:550px){
  #about{
    .container img{
      background-color: #ffffff;
      width: 48%;
      float: left;
      margin:10px 5px 10px 7px;
    }
    
    .right{
      background-color: #ffffff;
      width: 48%;
      float: left;
    }
    .clearfix::after {
    content: '';
    display: block;
    clear: both;
    }
  }
}

@media(max-width:550px){
  #shopinfo{
    .container img{
      background-color: #ffffff;
      width: 48%;
      float: left;
      margin: 10px 5px 10px 7px;
    }
    .right{
      background-color: #ffffff;
      width: 48%;
      float: left;
    }
    .clearfix::after{
      content: '';
      display: block;
      clear: both;
    }
  }
  .more-btn{
      min-margin:88px;
    }
}

//footer

.footer{
  text-align: center;
  font: 12px;
  p{
    color: #b8b4ac;
    font: 10px;
  }
}
@media(max-width: 550px){
  #pc_pagetop_btn{
    display: none;
  }
  #sp_pagetop_btn{
    text-align: center;
    img{
      width: 35%
    }
  }
}

@media(min-width: 551px){
  #sp_pagetop_btn{
    display: none;
  }
  #pc_pagetop_btn{
    text-align: right;
    border-bottom: 15px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: $bage;
    margin-bottom: 40px;
    padding: 20px;
  }
}

.owl-dot{
  display: inline-block;
}
.owl-dot span{
  width: 40px;
  height: 4px;
  background: #b0b0b0;
  display: block;
  margin: 5px;
}

.owl-dot .active span{
  width: 40px;
  height: 4px;
  background: #9d1a2d;
  display: block;
  margin: 5px;
}
//list.html

.pankuzu{
  font-size: 11px;
  line-height: 2em;
  color: $brown;
  background-color: #e8e4da;
  padding: 10px;
}
#category-pic{
  padding: 10px 0;
}
@media(min-width:550px){
  #sp_cate_pic{
    display: none;
  }
}
@media(max-width:549px){
  #pc_cate_pic{
    display: none;
  }
}

#ichiran{
  margin: 31px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: space-between;
}
@media(min-width: 550px){
  #ichiran .flex-container{
    width: 30%;
    background-color: #ffffff;
    margin: auto;
  }
}
@media(max-width: 549px){
  #ichiran .flex-container{
    width: 47%;
    background-color: #ffffff;
    justify-content: flex-start;
  }
}     
.button{
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: space-between;
  .btn{
    width: 23%;
    background-color: $brown;
    border-radius: 2px;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

@media(min-width: 550px){
  .sp_saikin{
    display: none;
  }
  .pc_saikin{
    padding:20px 0;
  }
}
@media(max-width: 549px){
  .pc_saikin{
    display: none;
    }
    .sp_saikin{
      img{
      display: block;
      margin: 0 auto;
      padding:20px 0;
    }
  }
}

#saikin-pic{
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: space-between;
  margin-top:10px;
}

@media(min-width: 550px){
  #saikin-pic .flex-container{
    width: 30%;
    background-color: #ffffff;
    margin: auto;
  }
}
@media(max-width: 549px){
  #saikin-pic .flex-container{
    width: 50%;
    background-color: #ffffff;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    img{
      max-width:93%;
    }
  }
}  

//product.html
#product{
  background-color: #ffffff;
  padding-bottom: 10px;
  .product-midashi{
    margin: 30px 30px;
    padding-bottom: 50px;
    padding-top: 20px;
  }
}
    .product-name{
      font-size: 17px;
      font-stretch: expanded;
      color: black;
      font-weight: bold;  
    }

.product-midashi{
  margin-top: 10px;
  margin-bottom: 10px;
}
#display_img li{
  list-style: none;
  display: flex;
}
#display_img li img{
  width: 20%;
  height: 20%;
  cursor: pointer;
  float: left;
}
.product_container{
  margin: 10px;
  ul{
    list-style: none;
  }
  
}

#product-name{
  float: left;
  letter-spacing: 3px;
  font-weight: bold;
}
#product-number{
  float: right;
}
@media(max-width:550px){
  .product-midashi{
    
  }
  #product-number{
    float: left;
    font-weight: lighter;
    color: $gray;
    font-size: 10px;
    width: 100%;
  }
  #product-name{
    width: 100%;
  }
}
@media(min-width:551px){
  .product-midashi{
  border-bottom-color: $bage;
  }
}
  
#product .color{
  border-top: solid;
  border-top-color: $bage;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media(min-width:551px){
  #display_img{
    width: 70%;
    float: left;
  }
  #display_img img{
      width: 100%;
      float: left;
    }
  
  #list_img{
    float: right;
    width: 28%;
  }
  #list_img img{
    width: 50%;
    float: left;
    padding: 3px;
  }
}

@media(max-width:550px){
  #display_img{
    width: 100%;
  }
  #display_img img{
    width: 100%;
  }
  #list_img{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  #list_img li{
    width:20%;
  }
  #list_img img{
    padding: 3px;
  }
}  

table {
  color: $brown;
  width: 90%;
  text-align: center;
  font: $brown;
  border-bottom: 1px solid #e2ddd4;
  th{
    text-align: center;
    font-weight: normal;
    width:30%;
    background-color:#f9f9f5;
  }
  td{
    text-align: center;
    border-bottom-color: #E1E1E1;
  }
  tr{
    border-top: 1px solid #e2ddd4;
    border-left: 1px solid #e2ddd4;
    border-right: 1px solid #e2ddd4;
  }
}
thead{
  background-color: $base;
}
.shouhinn-setumei{
  clear: both;
}

.price{
  img{
    margin-right: 40px;
  }
  strong{
    color: red;
    font-size: 24px;
    margin-right: 10px;
    font-style: oblique;
    font-weight: normal;
  }
  p{
    border-top: solid $bage;
    border-top-width: 1px;
    line-height: 35px;
  }
  .textbox{
    float: right;
  }
}
#price{
  border-bottom: solid 1px;
  border-bottom-color: #e2ddd4;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: solid 1px #e2ddd4;
}
.quantity{
  margin-top: 20px;
  border-bottom: solid 1px #e2ddd4;
}
.quantity-img{
  float: left;
}

.shouhinn-setumei{
  p{
    font-size: 18px;
    color: $brown;
    border-bottom: solid 1px;
    border-bottom-color: $brown;
    padding-bottom: 5px;
    font-weight: bold;
  }
}
.shouhinn-title{
    p{
    font-size: 17px;
    color: $brown;
    font-weight: bold;
    }
  }
@media(min-width: 551px){
  .price{
  float:left;
  width: 50%;
}
  .add-cart{
  float:right;
  width: 35%;
  text-align: right;
  margin-right: 60px;
}
  #product-column .clearfix::after{
  content: '';
  display: block;
  clear: both;
  }
}

@media(max-width: 550px){
  .add-cart{
    margin: 0 auto;
    overflow: hidden;
    clear: both;
  }
  .add-cart img{
      display: block;
      margin: 12px auto;
  }
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

#saikin-area{
  background-color:white;
}